body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('../img/그래픽바탕2.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 30px;
    width: 70%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.logo {
    width: 200px;
    margin: 30px;
}

h1 {
    margin-top: 20px;
    font-size: 30px;
    color: #202632;
}

.main-content {
    margin-bottom: 50px;
}

.main-content p {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    font-weight: 700;
    
}


.button-container {
    display: flex;
    justify-content: center; /* 버튼들을 가운데 정렬 */
    align-items: center;
    gap: 15px;
    width: 100%;
    min-width: 600px;
}

.main_text {
font-size: 27px;
}

button {
    padding: 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%; /* 버튼의 너비를 container의 70%로 설정 */
    height: 550px; /* 버튼 높이 설정 */
    text-align: center;
}


button img {
    max-width: 185px;
    margin-bottom: 10px;
}

button p {
    margin: 5px 0 0 0;
}

button:active {
    transform: scale(0.95); /* 버튼을 클릭할 때 크기 감소 */
}

.large-text {
    background-color: #0064FF;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.large-text:hover {
    background-color: #0056b3;
}

.standard {
    background-color: #202632;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.standard:hover {
    background-color: #101522;
}
